#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  --white: rgb(228, 225, 216);
}

.QuoteBox {
  background-color: var(--white);
  width: 42vw;
  height: 38vh;
  border-radius: 6px;

  box-shadow: 15px 20px 20px rgb(30, 30, 34),
              -15px -15px 15px rgb(223, 223, 223);
  padding: 2vh 2.5vw;
  
  display: grid;
  grid-template: 
  'quoteMark quote'
  '. button';
  gap: 5px;

  align-items: center;
}

.quotationMarks{
  grid-area: quoteMark;
  padding: 0;
  font-size: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.QuoteAndAuthor{
  grid-area: quote;
  justify-self: end;

  margin: 0;
  padding: 0;

  font-size: 1.5vw;

  display: grid;
  width: 35vw;
  height: 24vh;

  grid-template: 
  'quote'  
  'author';
}

.QuoteAndAuthor p {
  margin: 0;
  padding: 0;

  grid-area: quote;
  text-align: center;
  width: 95%;
  height: 17vh;
  max-height: 17vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.QuoteAndAuthor footer{
  grid-area: author;

  display: flex;
  align-items: center;
  justify-content: right;
}

.button-QuoteBox{
  grid-area: button;
  justify-self: end;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 3.5vw;
  width: 3.5vw;

  border-radius: 50%;
  box-shadow: 2px 2px 2px rgb(66, 66, 66);

  color: var(--white);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3vw;
  user-select: none;

  cursor:pointer;
}

.button-QuoteBox:active{
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 1px rgb(66, 66, 66);
}
